//Custom Variables
$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body-bg: #FFF;
$body-color: #000;

$theme-colors: (
  "blue": #2A4FA4
);


//Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.contact-link {
  border-radius: 100px;
  border-color: white;
}

.btn-gradient {
  display: inline-block;
  background-image: linear-gradient(-90deg, #FF9E78 2%, #FE7C77 100%);
  font-weight: $btn-font-weight;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size(0.95rem, 1.95rem, $font-size-base, $btn-line-height, 100px);
  @include transition($btn-transition);
  box-shadow: 0 4px 8px 0 rgba(192,192,192,0.50);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
    color: white;
    transform: translateY(1px);
    background-image: linear-gradient(-90deg, #FF9E78 2%, #FE7C77 100%);
    box-shadow: 0 4px 8px 0 rgba(192,192,192,1);
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

.btn-outline-secondary {
  border-radius: 100px;
  border-color: #6882BE;
}
.btn-outline-secondary:hover {
  background-color: transparent;
  border-color: white;
  color: white;
  opacity: 1;
}

.container.white {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}

body {
  background-color: #f3f3f3;
}
/*
 * Custom translucent site header
 */

.site-header {
  padding-left: 15px;
  padding-right: 15px;
  a {
    color: white;
    transition: ease-in-out color .15s;
    &:hover {
      opacity: .5;
      text-decoration: none;
    }
  }
}

.pre-header {
  background-color: #173377;
  color: white;
}

//------ Footer ----------//
.footer {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  a:hover {
    color: #547BE0;
  }
  background-color: #2A4FA4;
  color: white;
}
.footer-bg {
  height: 140px;
  background: url("../images/bg-footer.jpg") no-repeat center;
  background-size: cover;
}

//------ Hero Section ----------//
.hero-bg {
  .svg {
    position: relative;
    bottom: -77%;
  }
  background: url("../images/bg-header.jpg") no-repeat center;
  background-size: cover;
  height: 420px
}

//------ Products Section ----------//
.section-products p {
  color: #838CA1;
}
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  &::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

//------ History Section ----------//
.section-history, .section-history .display-title {
  color: white;
}
.bg-history {
  background-color: #547BE0;
}

.history-pic {
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.5);
}
.svg {
  height: 200px;
}
.bg-white {
  background-color: white;
}




/*
 * Extra utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}


@media (max-width: 768px) {
  .hero-bg {
    .svg {
      position: relative;
      bottom: -82%;
    }
  }
}

@media (min-width: 1500px) {
  .hero-bg {
    .svg {
      bottom: -73%;
    }
    height: 520px
  }
  .svg {
    height: 400px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.display-title {
  color: #cccccc;
  font-weight: bold;
}
